<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
  <title>About</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>This site was created while following Andrew Mead's NodeJS class. It uses Mapbox and Weatherstack APIS.</p>
    <img class="portait" src="/img/robot.png" alt="">
  </div>
  {{>footer}}
</body>

</html>
